.logo {
  font-family: "RF Dewi";

  font-size: toIndex(18);
  line-height: 96%;
  /* or 19px */

  letter-spacing: -0.033em;

  color: $grey;
  &--color-accent {
    color: $yellow;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: toIndex(40);
  }
}
