.footer {
  padding: 0 0 toIndex(50);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    font-family: "RF Dewi";
    font-size: toIndex(18);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: $grey;
    &--color-accent {
      color: $yellow;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: toIndex(100);
    a {
      font-family: "RF Dewi";
      font-style: normal;
      font-weight: 400;
      font-size: toIndex(20);
      line-height: 96%;
      letter-spacing: -0.033em;
      padding-bottom: toIndex(10);
      color: #fff;
      background: linear-gradient(to right, #fff, #fff 50%, #2f3739 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 0.3s ease;
      display: block;
      position: relative;
      transition: 0.3s;
      overflow: hidden;
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #2f3739;
        transition: 0.3s ease;
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: -100%;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid #fff;
        transition: 0.3s ease;
      }
      &:hover {
        background-position: 0 100%;
        &::before {
          left: 100%;
        }
        &::after {
          left: 0;
          transition-delay: 0.1s;
        }
      }
    }
  }
  &__dev {
    display: flex;
    align-items: center;
    span {
      margin-right: toIndex(50);
      font-family: "RF Dewi";
      font-style: normal;
      font-weight: 400;
      font-size: toIndex(20);
      line-height: 96%;
      letter-spacing: -0.033em;
      padding-bottom: toIndex(10);
      color: #fff;
      background: linear-gradient(to right, #fff, #fff 50%, #2f3739 50%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 200% 100%;
      background-position: 100%;
      transition: background-position 0.3s ease;
      display: block;
      position: relative;
      transition: 0.3s;
      overflow: hidden;
      &:hover {
        background-position: 0 100%;
      }
    }
  }
}
