.header {
  padding-top: 25px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__col {
    display: flex;
  }
  &__text {
    font-family: "RF Dewi";

    margin-left: toIndex(140);
    color: $white;
    font-size: toIndex(18);
    line-height: 106%;
    opacity: 0.16;
  }
  &__our-goal {
    max-width: toIndex(240);
    font-family: "RF Dewi";
    font-size: toIndex(18);
    line-height: 106%;
    letter-spacing: -0.033em;
    color: $yellow;
    li {
      &:first-child {
        text-indent: toIndex(35);
      }
    }
  }
}
