.header {
  padding-top: toIndex(25);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  &__col {
    display: flex;
  }
  &__text {
    font-family: "RF Dewi";

    margin-left: toIndex(140);
    color: $white;
    font-size: toIndex(18);
    line-height: 106%;
    opacity: 0.16;
  }
  &__our-goal {
    max-width: toIndex(240);
    font-family: "RF Dewi";
    font-size: toIndex(18);
    line-height: 106%;
    letter-spacing: -0.033em;
    color: $yellow;
    li {
      &:first-child {
        text-indent: toIndex(35);
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    .container {
      flex-direction: column;
      flex-wrap: wrap;
    }
    &__text {
      position: absolute;
      bottom: 0;
      font-size: toIndex(40);
      text-align: center;
      left: 0;
      margin-left: 0;
      width: 100%;
    }
    &__our-goal {
      font-size: toIndex(40);
      max-width: toIndex(350);
      margin-left: auto;
      margin-top: toIndex(60);
    }
  }
}
