.main-section {
  &__title {
    font-family: "RF Dewi";
    font-style: normal;
    font-weight: 400;
    font-size: 833px;
    line-height: 0%;
    letter-spacing: -0.09em;
    color: #ffffff;
    white-space: nowrap;
  }
}
