.price-section {
  &__title {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 300;
    font-size: toIndex(135);
    line-height: 96%;
    letter-spacing: -0.035em;
    color: #ffffff;
    margin-bottom: toIndex(40);
    li {
      margin-bottom: toIndex(45);
      &:first-child {
        max-width: toIndex(1400);
      }
      &:last-child {
        margin-left: toIndex(450);
      }
    }
  }
  &__subtitle {
    font-family: "RF Dewi";
    margin-bottom: toIndex(95);
    margin-left: toIndex(450);
    font-weight: 400;
    font-size: toIndex(20);
    line-height: 120%;
    letter-spacing: -0.033em;
    color: #ffffff;
  }
  &__list {
    margin-left: toIndex(450);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 7px;
  }
}
