.price-card {
  padding: toIndex(50) toIndex(60) toIndex(140);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  &__type {
    font-family: "RF Dewi";
    font-weight: 400;
    font-size: toIndex(35);
    line-height: 96%;
    text-align: right;
    letter-spacing: -0.033em;
    color: #ffffff;
    opacity: 0.16;
    margin-bottom: toIndex(125);
  }
  &__title {
    font-weight: 500;
    font-size: toIndex(80);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #ffffff;
    margin-bottom: toIndex(40);
  }
  &__line {
    border-bottom: toIndex(4) solid #fff;
    margin-bottom: toIndex(80);
  }
  &__list {
    margin-bottom: toIndex(135);
  }
  &__list-item {
    &:not(:last-child) {
      margin-bottom: toIndex(40);
    }
    h4 {
      font-family: "RF Dewi";
      font-style: normal;
      font-weight: 400;
      font-size: toIndex(40);
      line-height: 150%;
      letter-spacing: -0.033em;
      color: #fff;
    }
    p {
      font-family: "RF Dewi";
      font-style: normal;
      font-weight: 400;
      font-size: toIndex(40);
      line-height: 150%;
      letter-spacing: -0.033em;
      color: #505b5e;
    }
    &.disabled {
      display: none;
      user-select: none;
      h4,
      p {
        color: #162123;
      }
    }
  }
  &__value {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 300;
    font-size: toIndex(115);
    line-height: 96%;
    letter-spacing: -0.033em;
    gap: toIndex(20);
    margin-bottom: toIndex(100);
    flex-wrap: wrap;
    .new {
      color: #fff;
    }
    .old {
      color: #2f3739;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        border-bottom: toIndex(4) solid #2f3739;
      }
    }
  }
  .btn {
    &:first-of-type {
      margin-top: auto;
    }
    &:not(:last-child) {
      margin-bottom: toIndex(20);
    }
  }
  &__notice {
    font-family: "RF Dewi";
    font-style: normal;
    font-weight: 400;
    font-size: toIndex(40);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #434c4f;
    text-align: center;
    margin-top: toIndex(50);
  }
  &--stantdart {
    background: #091214;
  }
  &--premium {
    background: var(--color-yellow);
    .price-card {
      &__type {
        color: #040d0f;
      }
      &__title {
        color: var(--color-black);
      }
      &__line {
        border-bottom-color: var(--color-black);
      }
      &__list {
        h4 {
          color: var(--color-black);
        }
        p {
          color: #a99f2f;
        }
      }
      &__list-item.disabled {
        h4,
        p {
          color: #d4c61f;
        }
      }
      &__value {
        .new {
          color: var(--color-black);
        }
        .old {
          color: #a99f2f;
          &::after {
            border-bottom-color: #a99f2f;
          }
        }
      }
    }
  }
  &--mentoring {
    background: #192224;
    .btn--fill-yellow {
      &::before {
        background-color: #192224;
      }
    }
  }
}

@media (min-width: 1200px) {
  .price-card {
    padding: toIndex(30) toIndex(40) toIndex(60);
    &__type {
      font-size: toIndex(20);
    }
    &__title {
      font-size: toIndex(50);
      margin-bottom: toIndex(20);
    }
    &__line {
      margin-bottom: toIndex(40);
    }
    &__list {
      margin-bottom: toIndex(55);
    }
    &__list-item {
      h4,
      p {
        font-size: toIndex(20);
      }
      &.disabled {
        display: block;
      }
    }
    &__value {
      font-size: toIndex(65);
      margin-bottom: toIndex(15);
    }
    &__notice {
      margin-bottom: toIndex(35);
      font-size: toIndex(20);
      margin-top: 0;
    }
  }
}
