.program-section {
  margin-top: toIndex(300);
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: toIndex(20);
  }
  &__title {
    font-family: "RF Dewi";
    font-style: normal;
    font-weight: 400;
    font-size: toIndex(18);
    line-height: 96%;
    letter-spacing: -0.033em;
    color: #f4e107;
  }
  &__tags {
    display: flex;
    gap: 6px;
    li {
      height: toIndex(48);
      padding: 0 toIndex(30);
      background-color: #fff;
      border-radius: 50px;
      display: flex;
      align-items: center;
      font-family: "RF Dewi";
      font-style: normal;
      font-weight: 400;
      font-size: toIndex(18);
      line-height: 96%;
      letter-spacing: -0.033em;
      color: #040d0f;
      &:last-child {
        background: #f4e107;
      }
    }
  }
  &__slide {
    border-radius: 23px;
    background-color: red;
    &:not(:last-child) {
      margin-bottom: toIndex(30);
    }
    &:last-child {
      position: relative;
    }
    img {
      display: block;
      height: 80vh;
      width: 100%;
    }
  }
  &--bgcolor-black {
    background: #162225;
  }
  &--bgcolor-white {
    background: #ffffff;
  }
  &--bgcolor-blue {
    background: #0026ad;
  }
  &--bgcolor-yellow {
    background: #f4e107;
  }
  &--bgcolor-grey {
    background: #303f44;
  }
  &--bgcolor-crimson {
    background: #ad0049;
  }
  &--bgcolor-purple {
    background: #700a94;
  }
  &--bgcolor-green {
    background: #469123;
  }
}
@media (min-width: 1200px) {
  .program-section {
    &__slide {
      img.mobile {
        display: none;
      }
    }
  }
}
@media (max-width: 1199px) {
  .program-section {
    margin-top: toIndexMob(110);
    margin-bottom: toIndexMob(160);
    &__header {
      margin-bottom: toIndexMob(20);
    }
    &__title {
      font-size: toIndexMob(16);
    }
    &__tags {
      li {
        height: toIndexMob(45);
        padding: 0 toIndexMob(28);
        font-size: toIndexMob(16);
      }
      li:not(.mobile) {
        display: none;
      }
    }
    &__slide {
      &:not(:last-child) {
        margin-bottom: toIndexMob(20);
      }
      img {
        width: 100%;
        height: auto;
      }
      img:not(.mobile) {
        display: none;
      }
    }
  }
}
