html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-anchor: none;
  font-family: "Manrope", sans-serif;
  background-color: var(--color-black);
  scroll-behavior: smooth;
  color: #fff;
}

html {
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }
}

#smooth-content {
  will-change: transform;
}

@function toIndex($value) {
  $resValue: calc((1vw + 1vh) * (#{$value} / 30));
  @return $resValue;
}
@function toIndexTab($value) {
  $resValue: calc((1vw + 1vh) * (#{$value} / 17.92));
  @return $resValue;
}
@function toIndexMob($value) {
  $resValue: calc((1vw + 1vh) * (#{$value} / 11.87));
  @return $resValue;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; // stylelint-disable-line declaration-no-important
}

.visually-hidden {
  @include visually-hidden;
}

.btn-reset {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 toIndex(30);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
